
<input type="text" name="twitter-handle" Placeholder="Enter Twitter Username" id="get-twitter-handle">
<button class="btn-medium waves-effect waves-lightblue waves-ripple" type="button" id="analyze-tweets">Analyze Tweets</button>
<br>
<hr>
<div id="graph"></div>
<div><p id="result"></p></div>
<br>
<hr>


<script type="text/javascript">

  var $analyzeTweets = $('#analyze-tweets')
  var $result = $('#result')
  var $twitterHandle = $('#get-twitter-handle')
  var $graph = $('#graph')

  function displayAnalysis(data) {
    //BIG 5 PERSONALITY TRAITS
    $result.append("<strong>Big Five Personality Traits</strong><br>")
    $result.append("Openness: " + data.big5personality.openness + "<br>")
    $result.append("Conscientiousness: " + data.big5personality.conscientiousness + "<br>")
    $result.append("Extraversion: " + data.big5personality.extraversion + "<br>")
    $result.append("Agreeableness: " + data.big5personality.agreeableness + "<br>")
    $result.append("Emotional Range: " + data.big5personality.emotionalRange + "<br>")
    //Breakdown of openness
    $result.append("<strong>Big Five Subcategory: Openness Breakdown</strong><br>")
    $result.append("Adventurousness: " + data.opennessBreakdown.adventurousness + "<br>")
    $result.append("Artistic Interests: " + data.opennessBreakdown.artisticInterests + "<br>")
    $result.append("Emotionality: " + data.opennessBreakdown.emotionality + "<br>")
    $result.append("Imagination: " + data.opennessBreakdown.imagination + "<br>")
    $result.append("Intellect: " + data.opennessBreakdown.intellect + "<br>")
    $result.append("Authority Challenging: " + data.opennessBreakdown.authorityChallenging + "<br>")
    //Breakdown of conscientiousness
    $result.append("<strong>Big Five Subcategory: Conscientiousness Breakdown</strong><br>")
    $result.append("Achievement Striving: " + data.conscientiousnessBreakdown.achievementStriving + "<br>")
    $result.append("Cautiousness: " + data.conscientiousnessBreakdown.cautiousness + "<br>")
    $result.append("Dutifulness: " + data.conscientiousnessBreakdown.dutifulness + "<br>")
    $result.append("Orderliness: " + data.conscientiousnessBreakdown.orderliness + "<br>")
    $result.append("Self Discipline: " + data.conscientiousnessBreakdown.selfDiscipline + "<br>")
    $result.append("Self Efficacy: " + data.conscientiousnessBreakdown.selfEfficacy + "<br>")
    //Breakdown of extraversion
    $result.append("<strong>Big Five Subcategory: Extraversion Breakdown</strong><br>")
    $result.append("Activity Level: " + data.extraversionBreakdown.activityLevel + "<br>")
    $result.append("Assertiveness: " + data.extraversionBreakdown.assertiveness + "<br>")
    $result.append("Cheerfulness: " + data.extraversionBreakdown.cheerfulness + "<br>")
    $result.append("Excitement Seeking: " + data.extraversionBreakdown.excitementSeeking + "<br>")
    $result.append("Outgoing: " + data.extraversionBreakdown.outgoing + "<br>")
    $result.append("Gregariousness: " + data.extraversionBreakdown.gregariousness + "<br>")
    //Breakdown of agreeableness
    $result.append("<strong>Big Five Subcategory: Agreeableness Breakdown</strong><br>")
    $result.append("Altruism: " + data.agreeablenessBreakdown.altruism + "<br>")
    $result.append("Cooperation: " + data.agreeablenessBreakdown.cooperation + "<br>")
    $result.append("Modesty: " + data.agreeablenessBreakdown.modesty + "<br>")
    $result.append("Uncompromising: " + data.agreeablenessBreakdown.uncompromising + "<br>")
    $result.append("Sympathy: " + data.agreeablenessBreakdown.sympathy + "<br>")
    $result.append("Trust: " + data.agreeablenessBreakdown.trust + "<br>")
    //Breakdown of emotional range
    $result.append("<strong>Big Five Subcategory: Emotional Range Breakdown</strong><br>")
    $result.append("Fiery: " + data.emotionalRangeBreakdown.fiery + "<br>")
    $result.append("Prone To Worry: " + data.emotionalRangeBreakdown.proneToWorry + "<br>")
    $result.append("Melancholy: " + data.emotionalRangeBreakdown.melancholy + "<br>")
    $result.append("Immoderation: " + data.emotionalRangeBreakdown.immoderation + "<br>")
    $result.append("Self Consciousness: " + data.emotionalRangeBreakdown.selfConsciousness + "<br>")
    $result.append("Susceptible To Stress: " + data.emotionalRangeBreakdown.susceptibleToStress + "<br>")
    //NEEDS
    $result.append("<strong>Needs</strong><br>")
    $result.append("Challenge: " + data.needs.challenge + "<br>")
    $result.append("Closeness: " + data.needs.closeness + "<br>")
    $result.append("Curiosity: " + data.needs.curiosity + "<br>")
    $result.append("Excitement: " + data.needs.excitement + "<br>")
    $result.append("Harmony: " + data.needs.harmony + "<br>")
    $result.append("Ideal: " + data.needs.ideal + "<br>")
    $result.append("Liberty: " + data.needs.liberty + "<br>")
    $result.append("Love: " + data.needs.love + "<br>")
    $result.append("Practicality: " + data.needs.practicality + "<br>")
    $result.append("Self Expression: " + data.needs.selfExpression + "<br>")
    $result.append("Stability: " + data.needs.stability + "<br>")
    $result.append("Structure: " + data.needs.structure + "<br>")
    //VALUES
    $result.append("<strong>Values</strong><br>")
    $result.append("Conservation: " + data.values.conservation + "<br>")
    $result.append("Openness To Change: " + data.values.opennessToChange + "<br>")
    $result.append("Hedonism: " + data.values.hedonism + "<br>")
    $result.append("Self Enhancement: " + data.values.selfEnhancement + "<br>")
    $result.append("Self Transcendence: " + data.values.selfTranscendence + "<br>")
    }

  $analyzeTweets.on('click', function(){
    console.log("Ajax call to the twitter API.")
    $
      .ajax({
        method: 'get',
        url: '/api/twitter/' + $twitterHandle.val()
      })
      .done(function(data){
        // console.log(data)
        var compiledTweet = ""
        for (i=0; i<data.length; i++){
          compiledTweet += data[i].text
          compiledTweet += " "
        }
    console.log("Ajax call to the Watson API.")
    $
      .ajax({
        method: 'post',
        url: '/api/watson/',
        data: JSON.stringify({ text: compiledTweet }),
        contentType: "application/json"
      })
      .done(function(data){
        console.log(data)
        $result.html("") //empty the result div
        $graph.html("") // empty the graph div
        displayAnalysis(data)
        visualizeBig5Data(data)
      })
        // $result.text(compiledTweet)
      })
  })

//***************D3js data visualization******************//

function visualizeBig5Data(data) {
  //  the data that powers the bar chart, a simple array of numeric values
  var chartdata = [
    (data.big5personality.openness * 200),
    (data.big5personality.conscientiousness * 200),
    (data.big5personality.extraversion * 200),
    (data.big5personality.agreeableness * 200),
    (data.big5personality.emotionalRange * 200)
  ];

  //  the size of the overall svg element
  var height = 200,
      width = 393,

  //  the width of each bar and the offset between each bar
      barWidth = 60,
      barOffset = 20;

  var colors = d3.scale.linear()
  .domain([0, chartdata.length*.33, chartdata.length*.66, chartdata.length])
  .range(['#d6e9c6', '#bce8f1', '#faebcc', '#ebccd1'])

  var dynamicColor

  var big5graph = d3.select('#graph').append('svg')
    .attr('width', width)
    .attr('height', height)
    .style('background', '#b6e3ff')
    .selectAll('rect').data(chartdata)
    .enter().append('rect')
      .style({'fill': function(data,i){return colors(i);}, 'stroke': '#31708f', 'stroke-width': '5'})
      .attr('width', barWidth)
      .attr('x', function (data, i) {
          return i * (barWidth + barOffset) + 7;
        })
      .attr('height', 0)
      .attr('y', height)
      .on('mouseover', function(data) {
          dynamicColor = this.style.fill;
          d3.select(this)
            .style('fill', '#f6f9bd')
      })
      .on('mouseout', function(data) {
          d3.select(this)
              .style('fill', dynamicColor)
      })

    big5graph.transition()
      .attr('height', function (data) {
          return data;
      })
      .attr('y', function (data) {
          return height - data;
      })
      .delay(function (data, i) {
          return i * 20;
      })
      .duration(2000)
      .ease('elastic');
}




//Big Five Personality Traits
// ((data.big5personality.openness * 1000) + "px")
// (data.big5personality.conscientiousness * 1000)
// (data.big5personality.extraversion * 1000)
// (data.big5personality.agreeableness * 1000)
// (data.big5personality.emotionalRange * 1000)




//********************************************************//

</script>
