
<!-- <body style="background-color:black"> -->

<h1 color=white>Welcome to Watson's Couch</h1>

    <!-- Page Content goes here -->
<h2>Some headings</h2>









<h6>IBM/Watson Card</h6>
<img src="images/watson_rect.png" />
<h6>Twitter Card</h6>
<img src="images/twitter-img.jpg" />
