
<!-- <body style="background-color:black"> -->

<h2 color='white' align="center">Welcome to Watson's Couch</h1>

<div class="parallax-container">
  <div class="parallax"><img src="images/Watson_landscape3.jpg"></div>
</div>

<div class="section white">
  <div class="row container">
    <h2 class="header">What is Watson's Couch?</h2>
      <p class="grey-text text-darken-3 lighten-3">is an app that provides Personality analysis through collection of text we gathered from Twitter Tweets. Simply sign up, input
      </p>
  </div>
</div>

<div class="parallax-container">
  <div class="parallax"><img src="images/Watson-brains.png"></div>
</div>

<!-- First row of the Three Cards -->
<div class="row">
  <!-- First row First card -->
  <div class="col s4">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="images/sm_twitter_icon.png">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">list</i></span>
          <p><a href="#">This is a link</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
    </div>
  </div>
  <!-- First row Second card -->
  <div class="col s4">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="images/sm_twitter_icon.png">
      </div>

      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">list</i></span>
          <p><a href="#">This is a link</a></p>
      </div>

      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
    </div>
  </div>
  <!-- First row Third card -->
  <div class="col s4">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="images/sm_twitter_icon.png">
      </div>

      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">list</i></span>
          <p><a href="#">This is a link</a></p>
      </div>

      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
    </div>
  </div>
<!-- End of First row of cards -->
</div>

<!-- Second row of the Three Cards -->
<div class="row">
  <!-- Second row First card -->
  <div class="col s4">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="images/watson_rect.png">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">list</i></span>
          <p><a href="#">This is a link</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
    </div>
  </div>
  <!-- Second row Second card -->
  <div class="col s4">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="images/watson_rect.png">
      </div>

      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">list</i></span>
          <p><a href="#">This is a link</a></p>
      </div>

      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
    </div>
  </div>
  <!-- Second row Third card -->
  <div class="col s4">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="images/watson_rect.png">
      </div>

      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">list</i></span>
          <p><a href="#">This is a link</a></p>
      </div>

      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
    </div>
  </div>
<!-- End of Second row of cards -->
</div>
