<div class="row">

  <h1>Login</h1>

  <% if(message.length > 0) {%>
    <div><%= message %></div>
    <% } %>

  <form action="/login" method="post" class="col s12">

    <div class="row">
      <div class="input-field col s12">
        <input name="email" type="email" class="validate" placeholder="Email">
        <%# <label for="email">Email</label>%>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input name="password" type="password" class="validate" placeholder="Password">
        <%# <label for="password">Password</label>%>
      </div>
    </div>

    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
      <i class="material-icons right">send</i>
    </button>

  </form>

  <hr>

  <h2>Or Login With <a href="/auth/twitter" class="btn waves-effect waves-light">Twitter</a>img</h2>

  <p>Or, <a href="/signup">Signup</a></p>
  <p>Go back <a href="/">Home</a>

</div>
