<div class="row">
  <div class="login col s6 offset-s3">


  <h2>Login</h2>

  <% if(message.length > 0) {%>
    <div id="flash-alert" style="background-color: rgba(214, 61, 61, 0.64); color: rgb(154, 20, 13); border-radius: 3px; text-align: center; padding: 5px 5px 5px 5px; width: 250px"><%= message %></div>
    <% } %>

  <form action="/login" method="post" class="col s12">

    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons">email</i>
        <input name="email" type="email" class="validate" placeholder="Email">
        <%# <label for="email">Email</label>%>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons">perm_identity</i>
        <input name="password" type="password" class="validate" placeholder="Password">
        <%# <label for="password">Password</label>%>
      </div>
    </div>

    <button class="btn-large waves-effect waves-blue waves-ripple" type="submit" name="action">Submit
      <i class="material-icons right">send</i>
    </button>

  </form>

  <h4>or Login With <a href="/auth/twitter"><img src= "images/twitter-img.jpg" /></a></h4>
  <h6><a class="btn waves-effect waves-blue waves-ripple" href="/signup">Signup</a></h6>
  <h6>Go back <a href="/">Home</h6>
      </div>
      <div class="col s3">

      </div>
</div>

<script type="text/javascript">
  function slideAlertUp(){
    $('#flash-alert').slideUp(400)
  }
  var slideAlert = window.setTimeout(slideAlertUp, 3000)
</script>
