<div class="row">

  <h1>Signup</h1>

  <% if(message.length > 0) {%>
    <div><%= message %></div>
    <% } %>

  <form action="/signup" method="post" class="col s12">

    <div class="row">
      <div class="input-field col s12">
        <%# <label>Name</label>%>
        <input name="name" type="text" placeholder="Name">
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <%# <label>Email</label>%>
        <input name="email" type="email" class="validate" placeholder="Email">
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <%# <label>Password</label>%>
        <input name="password" type="password" class="validate" placeholder="Password">
      </div>
    </div>

    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
      <i class="material-icons right">send</i>
    </button>

  </form>

  <hr>

  <h2>Or Login With <a href="/auth/twitter" class="btn waves-effect waves-light">Twitter</a></h2>

  <p>Or, <a href="/login">Login</a></p>
  <p>Go back <a href="/">Home</a>

</div>
